In [9]:
name = 'Lae'

print(name)

Lae

In [2]:
1+2

3

In [10]:
Name = 'Lady'

In [11]:
print(name)

Lae

In [7]:
score = 30

score1 = score/2

print(score1)

15.0

In [8]:
print(score)

30

In [ ]:
name Name NAME

In [13]:
_name
name
Name_
_name1

NameError: name '_name' is not defined

In [ ]:
first_name = 'Lae'
hours_of_work = 30

In [ ]:
x = 'Lae'
y = 30

In [14]:
firstName

NameError: name 'firstName' is not defined

In [1]:
class_name
range1
for_
in

SyntaxError: invalid syntax (2269407512.py, line 4)

In [ ]:
name
Name
NAME
_name

In [6]:
first_name2 = 'George'

In [3]:
age# = 67

NameError: name 'age' is not defined

In [ ]:
last_name = 'value'
age
school
town

In [7]:
else = 'this is a variable'
if
None

SyntaxError: invalid syntax (382073268.py, line 1)

In [12]:
age = str(35)

print(age)

35

In [19]:
age = 22

print(str(age))

print(type(age))


age + 2

22
<class 'int'>

24

In [ ]:
dateOfBirth =
date_of_birth =
DateOfBirth =

In [ ]:
age = 15
name = 'Pam'
score = 20.3

In [ ]:
"Hello, sorry you can't come"

In [21]:
"Hello sorry you can't come"

"Hello sorry you can't come"

In [22]:
"he said and i quote "this is my house!""

SyntaxError: invalid syntax (1494273584.py, line 1)

In [23]:
"""
this one takes 'single' and "double quotes"
and it can me on multiple lines 
"""

'\nthis one takes \'single\' and "double quotes"\nand it can me on multiple lines \n'

In [24]:
name = "Bob" #string
age = 30 #int
formatted_string = "My name is %s and I am %d years old." % (age, name)
print(formatted_string)  # Output: My name is Bob and I am 30 years old.

TypeError: %d format: a real number is required, not str

In [5]:
print("Hello \ World")

Hello \ World

In [ ]:
 x == 3
=

In [ ]:
x = 10

x = x + 3

# Add and assign
x += 3  # x = 13

In [ ]:
x = 3
y = 4

x != y = True

In [ ]:
dob = input('Enter your year of birth: ')
current_year = 2024
age = current_year - int(dob)
print(age)

In [2]:
x = 10

if x > 0: #true
    print("x is positive")
    if x == 5: #false
        print('x is 5')
        print('if false, skip')
    if x == 10: #true
        print('found it')

x is positive
found it